//@import "./themes/hypr_nature.scss";


$background: rgba(34, 39, 34, 0.85);
$background_alt: rgba(62, 93, 73, 0.85);
$foreground: #c7c7c7;
$widget_bg: rgba(0,0,0,0);
$primary: #b3d376;
$secondary: #8abeb7;
$tertiary: #678977;
$alert: #a54242 ;
$disabled: #324032;
$border: #45cd45;

.playerContainer {
    background-color: $background;
    border-radius: 10px;
    min-width: 800px;
}
.playerControles {
    margin: 30px;
    padding: 0px 30px 0px 30px;
}
.albumArt {
    border: 2px solid $border;
    margin: 50px 225px 20px 225px;
}
.progressBarContainer {
    padding: 0 16px;
}
.progressBar {
    margin-top: 15px;
    color: $primary;
    min-width: 200px;
}
.progressBar trough {
    background-color: $primary;
}
