$background: rgba(34, 39, 34, 0.85);
$background_alt: rgba(62, 93, 73, 0.85);
$foreground: #c7c7c7;
$widget_bg: rgba(0,0,0,0);
$primary: #b3d376;
$secondary: #8abeb7;
$tertiary: #678977;
$alert: #a54242 ;
$disabled: #324032;
$border: #45cd45;


* {
    //all: unset;
    font-family: "Weather Icons","Hurmit Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: $foreground;
}

button {
    all: unset;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

.centerbar, .leftbar, .rightbar {
    background-color: $background;
    border-radius: 10px;
}

.container {
    background-color: transparent;
}

.datetime {
    background-color: $widget_bg;
    color: $primary;
    margin-right: 15px;
    margin-left: 10px;
}
.datetime label {
    font-size: 15px;
    color: $primary;
}
.date label {
    padding-bottom: 0px;
}
.time {
    padding-top : 0px;
}

.spotifyContainer {
    color: $primary;
    background-color: $widget_bg;
}
.spotify {
    margin-left: 20px;
    padding: 0px;
}
.spotify button {
    all: unset;
}
.songInfo {
    margin-left: 7px;
}
.trackTitle {
    padding-right: 0px;
}
.trackArtist {
    padding-right: 0px;
}
.trackTitle label {
    font-size: 16px;
    color: $primary;
}
.trackArtist label {
    color: $primary;
    font-size: 14px;
}
.circProgress {
    color: $primary;
    margin-left: 0px;
}
.circProgressBg {
    color: #878787;
    margin-left: 0px;
}
.playing {
    padding-left: 4px;
}
.paused {
    padding-left: 2px;
}
.playing label, .paused label {
    color: $primary;
    font-size: 23px;
}


.netContainer {
    background-color: $widget_bg;
}
.netStatus-online, .netStatus-offline {
    padding-left: 15px;
    padding-right: 18px;
    margin-left: 10px;
}
.netStatus-online {
    background-color: $background_alt;
}
.netStatus-offline {
    background-color: $alert;
}

.workspacesContainer {
    background-color: $widget_bg;
}
.ws, .ws-active, .ws-occupied {
    padding: 0px 20px 0px 13px;
    margin: 0px 2px 0px 2px;
}
.ws:hover, .ws-occupied:hover {
    background-color: $background_alt;
    box-shadow: inset 0 -3px $primary;
}
.ws label, .ws-active label, .ws-occupied label {
    font-size: 20px;
}
.ws-active {
    background-color: $background_alt;
    box-shadow: inset 0 -3px $secondary;
}
.ws-occupied {
    background-color: $disabled;
    box-shadow: inset 0 -3px $tertiary;
}

.weather {
    background-color: $widget_bg;
}


.cpuContainer {
    margin: 0px 7px 0px 25px; 
}
.cpuContainer label {
    color: $primary;
}



.calendarWindow {
    background-color: transparent;
}
calendar {
    all: unset;
    color: $primary;
    padding: 2px 10px 2px 10px;
    background-color: transparent;

    .header {
        color: $primary;
    }

    .button {
        color: transparent;
    }
}
calendar:selected {
    background-color: $background_alt;
    border-radius: 15%;
    padding-bottom: 10rem;
}
calendar:indeterminate {
    color: $disabled;
}
.calendar {
    margin-bottom: 20px;
    padding: 10px 10px 0px 10px;
    min-height: 0px;
    border-radius: 10px;
    background-color: $background;
}
.calendarClock {
    color: $primary;
    font-size: 44px;
    margin-top: 20px;
    background-color: transparent;
}
.calendarDate {
    color: $primary;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: transparent;
}
.calendarContainer {
    background-color: transparent;
}



.spotify-player {
    border-radius: 10px;
}
.playerContainer {
    background-color: $background;
    border-radius: 10px;
    min-width: 800px;
}
.playerControles {
    margin: 30px;
    padding: 0px 30px 0px 30px;
}
.albumArt {
    border: 2px solid $border;
    margin: 50px 225px 20px 225px;
}
.playerTitle {
    color: $primary;
    font-size: 22px;
}
.playerArtist {
    color: $primary;
    font-size: 18px;
}
.progressBarContainer {
}
.progressBar {
    margin-top: 15px;
    color: $primary;
    min-width: 200px;
    margin-bottom: 18px;
}
.progressBar trough {
}
.playerTime {
    font-size: 18px;
    color: $primary;
}
.volumeSlider {
    min-width: 150px;
}
.shuf-rep-active, .prev-next, .play-pause {
    border: 1px solid $primary;
    border-radius: 50%;
}
.shuf-rep-active label {
    font-size: 20px;
    color: $primary;
    margin: 0px 12px 0px 9px;
}
.shuf-rep-inactive {
    border: 1px solid $foreground;
    border-radius: 50%;
}
.shuf-rep-inactive label {
    font-size: 25px;
    color: $foreground;
    margin: 0px 12px 0px 9px;
}
.prev-next label {
    font-size: 35px;
    color: $primary;
}
.play-pause label {
    font-size: 45px;
    color: $primary;
}
