.playerContainer {
    background-color: $background;
    border-radius: 10px;
    min-width: 800px;
}
.playerControles {
    margin: 30px;
    padding: 0px 30px 0px 30px;
}
.albumArt {
    border: 2px solid $border;
    margin: 50px 225px 20px 225px;
}
.progressBarContainer {
    padding: 0 16px;
}
.progressBar {
    margin-top: 15px;
    color: $primary;
    background-color: $primary;
    min-width: 200px;
}
.volume {
    background-color: $primary;
    min-width: 120px;
}
scale slider {
    min-height: 5px;
}
.playerTime {
    margin: 0px;
}
.songDetails {
    margin: 0px 25px 0px 25px;
}
.songDetails label {
    color: $primary;
}
.playerTitle {
    font-size: 25px;
}
.playerArtist {
    font-size: 20px;
}
